{% extends 'main_layout.twig' %}

{% block navibar %}
    {{ include('navibar.twig') }}
{% endblock %}

{% block content %}
    <div class="page-title bg-secondary text-white">출석 수정</div>
    {% if result == 'fail' %}
    <div class="alert alert-danger">
        <strong>에러!</strong>
    </div>
    {% else %}
    <form action="/calvary-web-2/attendences/logs/parts/search" method="post">
        <table class="form-table">
            <tr>
                <td>파트: </td>
                <td>
                    <select class="form-control" id="part" name="part">
                        <option value="1">소프라노A</option>
                        <option value="2">소프라노B</option>
                        <option value="3">소프라노B+</option>
                        <option value="4">알토A</option>
                        <option value="5">알토B</option>
                        <option value="6">테너</option>
                        <option value="7">베이스</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>출석일: </td>
                <td><input type="date" name="date" value="{{ "now"|date("Y-m-d") }}"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-primary" name="edit">수정</button></td>
            </tr>
        </table>
    </form>
    {% endif %}
{% endblock %}
