{% extends 'login_layout.twig' %}

{% block content %}
<div class="login-fail-msg">
    <div class="alert alert-danger ">
        로그인에 실패하였습니다.<br>다시 시도해 주세요.
    </div>
    <a href="/calvary-web-2/" class="btn btn-light" role="button">뒤로가기</a>
</div>
{% endblock %}