{% extends 'main_layout.twig' %}

{% block navibar %}
    {{ include('navibar_default.twig') }}
{% endblock %}

{% block content %}
<h4>갈보리 찬양대</h4>
<h4>출결 관리 홈페이지</h4>
<br>
관리자 문의<br>
<br>
v0.0.0
{% endblock %}