<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap css -->
    {{ include('bootstrap_css.twig') }}
    <link rel="stylesheet" href="/calvary-web-2/src/css/default.css">
    <title>갈보리 찬양대</title>
</head>
<body>
    {% block navibar %}{% endblock %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {{ include('bootstrap_js.twig') }}
</body>
</html>