{% extends 'main_layout.twig' %}

{% block navibar %}
    {{ include('navibar.twig') }}
{% endblock %}

{% block content %}
    {{ include('members_register_title.twig') }}
    {% if message == 'fail' %}
    <div class="alert alert-danger">
        <strong>에러!</strong> 대원 삭제 실패하였습니다. 확인 후 다시 시도해 주세요.
    </div>
    {% endif %}
    {% if message == 'success' %}
    <div class="alert alert-success">
        <strong>성공!</strong> 대원이 성공적으로 삭제되었습니다.
    </div>
    {% endif %}
{% endblock %}
