{% extends 'main_layout.twig' %}

{% block navibar %}
    {{ include('navibar.twig') }}
{% endblock %}

{% block content %}
    {{ include('member_register_title.twig') }}
    <form action="/calvary-web-2/members/register/search" method="post">
        <table class="form-table">
            <tr>
                <td>아이디: </td>
                <td><input type="text" class="form-control" placeholder="" id="member_id" name="member_id" value=""></td>
            </tr>
            <tr>
                <td>이름: </td>
                <td><input type="text" class="form-control" placeholder="" id="member_name" name="member_name" value=""></td>
            </tr>
            <tr>
                <td>파트</td>
                <td>
                    <select class="form-control" id="member_part" name="member_part">
                        <option></option>
                        <option>소프라노A</option>
                        <option>소프라노B</option>
                        <option>소프라노B+</option>
                        <option>알토A</option>
                        <option>알토B</option>
                        <option>테너</option>
                        <option>베이스</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-primary" name="member_register_search">조회</button></td>
            </tr>
        </table>
    </form>
    <div class="alert alert-danger">
        <strong>에러!</strong> 요청한 정보의 대원 정보 조회 결과가 없습니다. 확인 후 다시 시도해 주세요.
    </div>
{% endblock %}
