<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{ login_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show" id="navbars" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/calvary-web-2/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="adminMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">관리자메뉴</a>
                <div class="dropdown-menu" aria-labelledby="adminMenu">
                    <a class="dropdown-item" href="#">패스워드 변경</a>
                    <a class="dropdown-item" href="/calvary-web-2/members/register">대원 등록 수정</a>
                    <a class="dropdown-item" href="#">대원 상태 관리</a>
                    <a class="dropdown-item" href="#">출결 날짜 입력</a>
                    <a class="dropdown-item" href="#">출결 수정</a>
                    <a class="dropdown-item" href="#">월말 출석 마감</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calvary-web-2/logout">로그아웃</a>
            </li>
        </ul>
    </div>
</nav>