{% extends 'main_layout.twig' %}

{% block navibar %}
    {{ include('navibar.twig') }}
{% endblock %}

{% block content %}
    <div class="page-title bg-secondary text-white">{{ title }}</div>
    <div class="alert alert-danger">
        <strong>에러!</strong> {{ message }}
    </div>
{% endblock %}
