.content {
    margin: 20px;
}

.page-title {
    padding: 20px;
    font-weight: bold;
    font-size: large;
}

.form-table {
    margin-left: 10px;
    margin-top: 10px;
}
.form-table td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}